body{
    background: lightcyan;
}
.content-text{
    float: left;
    height: 100%;
    width: 650px;
    padding-left: 220px;
}
.content{
    height: 680px;
    width: 100%;
    overflow: auto;
}
.logo{
    box-sizing: content-box;
    display: inline-block;
    padding-left: 360px;
    padding-top: 50px;
}

